

<div class="sidebar">
    <div class="nicholas">Nicholas</div>
    <div class="btn btn-pre">Admin</div>
    <div class="sidebar-text">
    <a href="#dashboard"><i class="fa fa-fw fa-home"></i>Dashboard</a>
    <a href="#pending"><i class="fa fa-fw fa-wrench"></i>Pending Approval</a>
    <a href="#approved"><i class="fa fa-fw fa-check-square-o"></i>Approved</a>
    <a href="#live"><i class="fa fa-fw fa-user-circle"></i>Live Accounts</a>
    <a href="#ib"><i class="fa fa-fw  fa-users"></i>IB Accounts</a>
    <a href="#mm"><i class="fa fa-fw fa-envelope"></i>MM Accounts</a>
    <a href="#withdrow"><i class="fa fa-fw  fa-vcard-o"></i>Withdrow Requests</a>
    <a href="#delete"><i class="fa fa-fw  fa-trash"></i>Delete Accounts</a>
    <a href="#upload"><i class="fa fa-fw  fa-upload"></i>Upload</a>
    <a href="#admin"><i class="fa fa-fw  fa-server"></i>Admin Overview</a>
  </div>
  </div>
